.title {
    color: blue;
}

ul {
    text-align: center;
    color: grey;
}

ol {
    text-align: right;
    background-color: brown;
}

#main {
    color: green;
}

.body{
    padding: 20px;
    background: blue;
}

#indextitle{
    background-color: white;
    text-align: center;
}

.link {
    background-color: white;
}